.acertou,.errou {
    margin-top: 30px;
    padding: 5px 10px 5px 10px;  
}

.acertou {
    color: white;
    
}

.errou {
    color: white;
   
}


.correto{
    background-color: seagreen;
    border: solid 2px darkgreen;
}

.incorreto{
    background-color: indianred;
    border: solid 2px darkred;
}
#in_correto {
    height: 50px;
   
}
table {
    
    border-radius: 15px; 
    
    
}
td {
   
    padding: 0px;
}
